@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

body {
  font-family: 'Roboto', sans-serif;
  color: #333; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

img {
  width: 100%;
  height: auto; }

.container {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.btn {
  display: inline-block;
  padding: 10px 17px;
  background-color: #1e72bc;
  color: #fff;
  text-align: center;
  border-radius: 1px;
  cursor: pointer; }

.btn:hover {
  background-color: #000; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100px;
  box-shadow: 0 8px 6px -6px #999; }
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px; }
    @media (min-width: 576px) {
      header .navbar {
        flex-direction: row;
        align-items: center; } }
    header .navbar-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1; }
      header .navbar-top img {
        max-width: 235px; }
    header .navbar .menu-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 5px;
      color: #1e72bc;
      border: 2px solid #1e72bc;
      border-radius: 5px;
      font-size: 25px;
      cursor: pointer; }
      @media (min-width: 992px) {
        header .navbar .menu-toggle {
          display: none; } }
    header .navbar .nav-list {
      display: none; }
      @media (min-width: 992px) {
        header .navbar .nav-list {
          display: flex; } }
      header .navbar .nav-list a {
        padding: 5px 15px; }
        header .navbar .nav-list a:hover {
          color: #0aceb1; }
    header .navbar .navbar-button {
      margin-top: 10px; }
      @media (min-width: 576px) {
        header .navbar .navbar-button {
          margin: 0 0 0 10px; } }
      header .navbar .navbar-button .btn {
        display: block; }

.sidebar {
  position: fixed;
  left: -992px;
  top: 262.312px;
  width: 100%;
  height: calc(100vh - 262.312px);
  background-color: #1e72bc;
  opacity: .3;
  transition: all .5s ease-in-out;
  z-index: 3; }
  .sidebar.open {
    left: 0;
    opacity: 1; }
  @media (min-width: 576px) {
    .sidebar {
      top: 215px;
      height: calc(100vh - 215px); } }
  @media (min-width: 992px) {
    .sidebar {
      display: none; } }
  .sidebar-nav-list {
    padding: 10px; }
    .sidebar-nav-list li {
      padding: 10px;
      text-align: center; }
      .sidebar-nav-list li a {
        color: #fff;
        padding: 5px;
        font-size: 19px; }
        .sidebar-nav-list li a:hover {
          color: #0aceb1; }

.banner {
  min-height: 60vh;
  background: url("../img/IMG_20201229_222950.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  overflow: hidden;
  position: relative; }
  .banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.63);
    z-index: 1; }
  @media (min-width: 768px) {
    .banner {
      display: flex;
      justify-content: stretch;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap; } }
  .banner .container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr); }
    @media (min-width: 768px) {
      .banner .container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr); } }
    .banner .container .banner-content {
      font-size: 1.35em;
      color: #fff;
      z-index: 2; }
      @media (min-width: 768px) {
        .banner .container .banner-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex-wrap: wrap; } }
      .banner .container .banner-content h2,
      .banner .container .banner-content p,
      .banner .container .banner-content .btn {
        margin: 25px 0; }
      .banner .container .banner-content .btn {
        background-color: #fff;
        color: #1e72bc;
        font-size: 0.9em;
        border: 1px solid #0aceb1; }
        .banner .container .banner-content .btn:hover {
          background-color: #000;
          color: #fff; }
    .banner .container .banner-image {
      z-index: 2; }
      @media (min-width: 768px) {
        .banner .container .banner-image {
          width: 165%;
          margin-top: 100px; } }

.about {
  margin: 50px 0;
  overflow: hidden; }
  .about-items {
    text-align: center; }
    .about-items .about-item {
      margin-bottom: 20px; }
      @media (min-width: 576px) {
        .about-items .about-item {
          display: grid;
          grid-gap: 20px;
          grid-template-columns: repeat(2, 1fr); }
          .about-items .about-item:nth-child(even) .about-item-image {
            order: -1; } }
      .about-items .about-item-content h1 {
        margin: 10px 0 20px;
        font-size: 3em;
        background: linear-gradient(to right, #1e72bc 0%, #0aceb1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .about-items .about-item-content p {
        margin: 10px 0; }
      @media (min-width: 576px) {
        .about-items .about-item-content {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          flex-wrap: wrap; } }
      .about-items .about-item-image {
        max-width: 300px;
        margin: 0 auto; }
