@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400?family=Dancing+Script:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  color: #333; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

img {
  width: 100%;
  height: auto; }

.container {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.btn {
  display: inline-block;
  padding: 10px 17px;
  background-color: #000080;
  color: #fff;
  text-align: center;
  border-radius: 1px;
  cursor: pointer; }

.btn:hover {
  background-color: #000; }

.bg-gradient {
  min-height: 420px;
  padding: 100px 0;
  background: url("../img/Optimized-techthat.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 2; }
  @media (min-width: 576px) {
    .bg-gradient {
      padding: 150px 0; } }
  .bg-gradient::before, .bg-gradient::after {
    content: '';
    width: 100%;
    height: 20px;
    display: block;
    position: absolute; }
    @media (min-width: 576px) {
      .bg-gradient::before, .bg-gradient::after {
        height: 120px; } }

.section-title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2.7em;
  color: #333; }
  .section-title::after {
    content: '';
    width: 110px;
    height: 5px;
    margin: 15px 0 30px;
    background-color: #ddd;
    display: block; }

.section-title.center {
  text-align: center; }
  .section-title.center::after {
    margin-left: auto;
    margin-right: auto; }

.section-title > span {
  color: #000080; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100px;
  box-shadow: 0 8px 6px -6px #999; }
  header h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2em;
    font-weight: 500; }
    @media (min-width: 576px) {
      header h1 {
        font-size: 4em; } }
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px; }
    @media (min-width: 576px) {
      header .navbar {
        flex-direction: row;
        align-items: center; } }
    header .navbar-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1; }
      header .navbar-top img {
        max-width: 235px;
        border-radius: 5px; }
    header .navbar .menu-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 5px;
      color: #000080;
      border: 2px solid #000080;
      border-radius: 8px;
      font-size: 25px;
      cursor: pointer;
      animation: toggle 2s linear infinite; }

@keyframes toggle {
  50% {
    transform: scale(1.1);
    border-radius: 5px; } }
      @media (min-width: 992px) {
        header .navbar .menu-toggle {
          display: none; } }
    header .navbar .nav-list {
      display: none; }
      @media (min-width: 992px) {
        header .navbar .nav-list {
          display: flex; } }
      header .navbar .nav-list a {
        padding: 5px 15px; }
        header .navbar .nav-list a:hover {
          color: #0aceb1; }
    header .navbar .navbar-button {
      margin-top: 10px; }
      @media (min-width: 576px) {
        header .navbar .navbar-button {
          margin: 0 0 0 10px; } }
      header .navbar .navbar-button .you-btn {
        display: block;
        border-radius: 5px;
        background-image: linear-gradient(90deg, maroon, #a70c0c, maroon); }

.sidebar {
  position: fixed;
  left: -992px;
  top: 100px;
  width: 100%;
  padding-top: 1.5em;
  height: calc(100vh - 100px);
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.968), navy);
  opacity: .3;
  transition: all .5s ease-in-out;
  z-index: 3; }
  .sidebar.open {
    left: 0;
    opacity: 1; }
  @media (min-width: 576px) {
    .sidebar {
      top: 100px;
      height: calc(100vh - 100px); } }
  @media (min-width: 768px) {
    .sidebar {
      top: 210px;
      height: calc(100vh - 210px); } }
  @media (min-width: 992px) {
    .sidebar {
      display: none; } }
  .sidebar-nav-list {
    padding: 10px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .sidebar-nav-list li {
      padding: 10px;
      text-align: center; }
      .sidebar-nav-list li a {
        color: #fff;
        padding: 5px;
        font-size: 1.3em; }
        .sidebar-nav-list li a:hover {
          color: #0aceb1; }

main {
  background-color: #f4f4f4;
  margin-top: 100px; }
  @media (min-width: 576px) {
    main {
      margin-top: 100px; } }

.banner {
  min-height: 60vh;
  background: url("../img/IMG_20201229_222950.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  overflow: hidden;
  position: relative; }
  .banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.73);
    z-index: 1; }
  @media (min-width: 768px) {
    .banner {
      display: flex;
      justify-content: stretch;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap; } }
  .banner .container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr); }
    @media (min-width: 768px) {
      .banner .container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr); } }
    .banner .container .banner-content {
      font-size: 1.35em;
      color: #fff;
      z-index: 2; }
      @media (min-width: 576px) {
        .banner .container .banner-content {
          font-size: 2.5em; } }
      .banner .container .banner-content h2, .banner .container .banner-content p {
        font-family: 'Red Rose', cursive; }
      .banner .container .banner-content h2 {
        font-weight: 600; }
      .banner .container .banner-content p {
        font-size: 0.7em;
        font-weight: 200; }
      @media (min-width: 768px) {
        .banner .container .banner-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex-wrap: wrap; } }
      .banner .container .banner-content h2,
      .banner .container .banner-content p,
      .banner .container .banner-content .btn {
        margin: 25px 0; }
      .banner .container .banner-content .btn {
        background-color: #fff;
        color: #000080;
        font-size: 0.9em;
        border: 1px solid #0aceb1; }
        .banner .container .banner-content .btn:hover {
          background-color: #000;
          color: #fff; }
    .banner .container .banner-image {
      z-index: 2; }
      @media (min-width: 768px) {
        .banner .container .banner-image {
          width: 165%;
          margin-top: 100px; } }

.about {
  margin: 50px 0; }
  .about-items {
    text-align: center; }
    .about-items .about-item {
      margin-bottom: 20px; }
      @media (min-width: 576px) {
        .about-items .about-item {
          display: grid;
          grid-gap: 20px;
          grid-template-columns: repeat(2, 1fr); }
          .about-items .about-item:nth-child(even) .about-item-image {
            order: -1; } }
      .about-items .about-item-content h1 {
        margin: 10px 0 20px;
        font-size: 2em;
        background: linear-gradient(to right, #000080 0%, #0aceb1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
        @media (min-width: 576px) {
          .about-items .about-item-content h1 {
            font-size: 2em; } }
      .about-items .about-item-content p {
        margin: 10px 0; }
      @media (min-width: 576px) {
        .about-items .about-item-content {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          flex-wrap: wrap; } }
      .about-items .about-item-image {
        max-width: 300px;
        margin: 0 auto; }
        .about-items .about-item-image img {
          border-radius: 5px; }

@media (min-width: 576px) {
  .services .container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 768px) {
  .services .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr); } }

.services .container .service {
  padding: 25px;
  margin: 80px 0;
  background-color: #fff;
  text-align: center;
  border-radius: 5px; }
  .services .container .service-icon {
    width: 125px;
    height: 125px;
    margin: -85px 0 30px;
    padding: 5px;
    border: 5px solid #eee;
    border-radius: 50%;
    background-color: #fff; }
    @media (min-width: 768px) {
      .services .container .service-icon {
        width: 160px;
        height: 160px;
        margin: -110px 0 30px; } }
  .services .container .service p {
    padding: 50px; }
  .services .container .service a {
    color: red; }

.features {
  margin: 50px 0; }
  @media (min-width: 768px) {
    .features-grid {
      display: grid;
      grid-gap: 50px;
      grid-template-columns: repeat(3, 1fr); } }
  .features-grid .feature-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd; }
    .features-grid .feature-item-icon {
      padding: 20px;
      margin-right: 20px;
      border: 2px solid #0aceb1;
      border-radius: 50%;
      text-align: center;
      color: #0aceb1; }
      .features-grid .feature-item-icon i {
        width: 100%;
        font-size: 2.8em; }
      .features-grid .feature-item-icon:hover {
        background-color: #000080;
        color: #fff;
        border-color: #000080; }
  .features-grid .feature-image {
    max-width: 200px;
    margin: auto; }
    @media (min-width: 768px) {
      .features-grid .feature-image {
        max-width: 350px; } }

.table-price {
  margin: 100px 0; }
  @media (min-width: 576px) {
    .table-price .price-grid {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 768px) {
    .table-price .price-grid {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr); } }
  .table-price .price-grid .price-card {
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #ddd; }
    .table-price .price-grid .price-card:nth-child(2) h2 {
      background-color: #000080; }
    .table-price .price-grid .price-card:nth-child(2) .btn {
      background-color: #0aceb1; }
      .table-price .price-grid .price-card:nth-child(2) .btn:hover {
        background-color: #333;
        color: #ddd; }
    .table-price .price-grid .price-card h2 {
      padding: 30px;
      margin-bottom: 15px;
      background-color: #0aceb1;
      color: #fff;
      text-transform: uppercase; }
    .table-price .price-grid .price-card .price {
      padding: 10px 10px 20px;
      margin: 10px 50px;
      color: #000080; }
      .table-price .price-grid .price-card .price p {
        font-size: 2.5em; }
      .table-price .price-grid .price-card .price small {
        font-size: 1.3em; }
    .table-price .price-grid .price-card .card-list {
      padding: 30px 0; }
      .table-price .price-grid .price-card .card-list li {
        font-size: 1.3em;
        color: #333;
        line-height: 3; }

.contact {
  margin: 50px 0;
  background-color: #000080;
  color: #fff; }
  @media (min-width: 768px) {
    .contact {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(2, 1fr); } }
  .contact .google-map {
    width: 100%;
    min-height: 400px; }
  .contact .contact-form {
    width: 500px;
    max-width: 100%;
    padding: 25px;
    margin: auto; }
    .contact .contact-form .section-title {
      color: #fff; }
    .contact .contact-form p {
      margin: 40px 0; }
    .contact .contact-form input,
    .contact .contact-form textarea {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 13px;
      border: none;
      outline: none; }
    .contact .contact-form .btn {
      background-color: #0aceb1; }
      .contact .contact-form .btn:hover {
        background-color: #eee;
        color: #333; }

.footer-top {
  padding-top: 70px;
  padding-bottom: 40px; }
  @media (min-width: 576px) {
    .footer-top {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 768px) {
    .footer-top {
      display: grid;
      grid-gap: 40px;
      grid-template-columns: repeat(4, 1fr); } }
  .footer-top .footer-item {
    margin-bottom: 50px; }
    .footer-top .footer-item h3 {
      margin-bottom: 20px;
      color: #333; }
  .footer-top .brand .footer-logo {
    width: 45%;
    margin-bottom: 30px;
    border-radius: 10px; }
  .footer-top .social li {
    padding: 20px 0;
    border-bottom: 1px dashed #333;
    cursor: pointer; }
    .footer-top .social li i {
      margin-right: 10px; }
    .footer-top .social li:hover {
      color: #000080; }
  .footer-top .blog .post {
    display: flex;
    margin-bottom: 10px; }
    .footer-top .blog .post img {
      max-width: 100px;
      margin-right: 15px; }
    .footer-top .blog .post-date {
      margin-bottom: 10px; }
    .footer-top .blog .post-head {
      color: #333; }

.footer-bottom {
  padding: 20px;
  background-color: #000080;
  color: #fff;
  text-align: center; }
