// VIDEOS
.about {
    padding-top: 5vh;
    // background-image: $primary-gradient;
    // background-image: $primary-background-lt-grey;
    background-size: 140%;
    
    &-items {
        text-align: center;
        h2 {
            font-family: $font-title;
            letter-spacing: .1rem;
            font-size: 1.5rem;
            color: #000;
            text-align: left;
            margin-bottom: 1rem;
            // background: $primary-gradient;
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            @include md {
                font-size: 1.5rem;
                text-align: center;
                margin-bottom: 2rem;

            }
        }
        .about-item {
            margin: 0 auto 1rem;
            border-radius: .5rem;
            padding: 1rem 0; 
            background: #fff;
            text-align: center;
            // border: 1px solid #000;

            @include sm {
            background: #f4f4f4;
                // border: 1px solid $primary-color-dark;
                @include grid(2, 20px);

                &:nth-child(even) {
                    .about-item-image {
                        order: -1;
                    }
                }

            }

            &-content {
                @include lg {
                    // border: 3px solid rgba(0, 0, 128, 0.308);
                border-radius: 5px;
                }
                h3 {
                    margin: 1rem 0;
                    font-size: 1.5rem;
                    // font-family: $font-rose;
                    font-family: $font-title;
                    color: #000;
                    font-weight: 600;
                    text-align: left;
                    // background: $primary-gradient;
                    // background-clip: text;
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                    @include sm {
                        text-align: center;
                        font-size: 1.8rem;
                    }
                }

                p {
                    margin: 10px 0;
                    font-weight: 500;
                    font-size: 1rem;
                    // font-family: $font-rose;
                    color: #000;
                    text-transform: capitalize;
                    text-align: left;
                    
                }  
                @include sm {
                    text-align: center;
                    @include flex(center, flex-start, column);
                }
                @include lg {
                    @include flex(center, center, column);
                }

                .btn {
                    display: block;
                    width: 10rem;
                    margin: 1rem 0;
                    text-transform: capitalize;
                    &::before {
                        background: $btn-secondary;
                        background: $btn-secondary;
                    }
                    &::after {
                        background: $btn-secondary-hover;
                    }
                }
            }

            &-image {
                @include sm {
                    max-width: 300px;
                }
                width: 100%;
                padding: 1rem; 
                margin: 0 auto;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                border-radius: .5rem;
                // border: .1rem solid $primary-color;
                img {
                    width: 100%;
                    height: auto;
                    transition: .3s ease;
                }
                // OVERLAY
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $primary-color;
                    background: #000;
                    opacity: .4;
                }
                &:hover {
                    img {
                        transform:scale(1.1);
                    }
                }
            }
            // image zoom on item hover
            &:hover {
                .about-item-image {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
// END OF VIDEOS