// VIDEOS
.about {
    // border: 2px solid red;
    background: #f4f4f4;
    padding: 5vh 0;
    // background-image: $primary-gradient;
    // background-image: $primary-background-lt-grey;
    background-size: 140%;
    
    &-items {
        h3 {
            font-size: 1.25rem;
            color: $primary-color;
            color: #000;
            text-align: left;
            margin-bottom: 1rem;
            position: relative;

            i {
                font-size: 1.5rem;
                opacity: .1;
                margin-left: 1rem;
                // margin: 1rem 0 0 -2rem;
            }
            // background: $primary-gradient;
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            @include md {
                font-size: 1.5rem;
                // text-align: center;
                margin-bottom: 5vh;

            }
        }
        .about-item {
            margin: 0 auto 10vh;
            border-radius: .5rem;
            text-align: left;
            border-radius: .25rem;
            overflow: hidden;
            box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.15);

            @include sm {
                margin: 0 auto 5vh;
                @include grid(2, 20px);
                background: #fff;

                &:nth-child(even) {
                    .about-item-image {
                        // order: -1;
                    }
                }

            }

            &-content {
                // border: 2px solid blue;
                padding: 1rem .5rem;
                background: #fff;
                position: relative;
                @include sm {
                    // padding: 0;
                }
                @include lg {
                    padding: 1rem;
                    background: transparent;
                }

                h4 {
                    margin: 1rem 0;
                    font-size: 1.25rem;
                    color: #000;
                    color: $primary-color;
                    font-weight: 600;
                    text-align: left;
                    @include sm {
                        // text-align: center;
                        font-size: 1.8rem;
                    }

                    i {
                        position: absolute;
                        top: 1rem;
                        right: 5vw;
                        font-size: 5rem;
                        opacity: 0;

                        @include lg {
                            // top: 50%;
                            // transform: translateY(-50%);
                            top: unset;
                            bottom: 5vh;
                            font-size: 8rem;
                        }
                    }
                }

                p {
                    margin: 10px 0;
                    font-weight: 500;
                    font-size: 1rem;
                    // font-family: $font-rose;
                    color: #000;
                    text-transform: capitalize;
                    text-align: left;
                    
                }  
                // @include sm {
                //     text-align: center;
                //     @include flex(center, flex-start, column);
                // }
                // @include lg {
                //     @include flex(center, center, column);
                // }

                .btn {
                    display: block;
                    width: 12rem;
                    margin: 1rem 0;
                    text-transform: capitalize;
                    text-align: left;
                    display: flex;
                    justify-content: space-between;
                    &::before {
                        background: $btn-secondary;
                        background: $cta-btn;
                    }
                    &::after {
                        background: $cta-btn-hover;
                    }
                }
            }

            &-image {
                width: 100%;
                position: relative;
                cursor: pointer;
                // overflow: hidden;
                border-bottom-left-radius: .25rem;
                border-bottom-right-radius: .25rem;
                border: none;
                // border: 2px solid red;
                @include md {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                img {
                    display: block;
                    width: 100%;
                    transition: .3s ease;

                    @include md {
                        height: 100%;
                        border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    }
                }
                // OVERLAY
                // &::after {
                //     content: '';
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 100%;
                //     background: $primary-color;
                //     background: #000;
                //     opacity: .4;
                // }
                
            }
            
        }
    }
}
// END OF VIDEOS