//CONTACT
.contact {
    padding: 10vh 0;
    background-color: $primary-color;
    position: relative;
    .form-title {
        text-align: center;
        text-align: left;
        margin: 1rem 0;
        color: #fff;
        font-size: 2rem;
    }
    

    @include md {
        @include grid(2)
    }

    .google-maps {
        margin: 5vh 5vw 0;
        height: 50vh;
        @include md {
            height: 70vh;
            position: sticky;
            top: 10vh;
        }

        #map {
            width: 100%;
            height: 100%;
            border-radius: .5rem;
            @include md {
                height: 100%;
            }
        }
    }

    .contact-form {
        // width: 500px;
        // max-width: 100%;
        padding: 0rem 5vw;
        margin: 0 auto;
        cursor: pointer;

        .form-info-link {
            text-align: center;
            text-align: left;
            line-height: 1.5;
            color: $text-light;
            font-weight: 400;
            a {
                text-decoration: underline;
                transition: .2s;
                font-weight: 400;
                color: inherit;
                // font-family: $font-title;

                &:hover {
                color: #ddd;
                text-decoration: none;
                }
            }
        }
        

        fieldset {
            background-color: $primary-color-dark;
            padding: 5vh .5rem;
            margin: 2em auto;
            border: 1px solid $secondary-color;
            border-radius: .25rem;
            @media (min-width: 768px){
                border-radius: 5px;
                border: 3px solid $secondary-color;

            }

            legend {
                padding: 0 .5rem; 
                text-transform: capitalize;
                color: #ddd;
                // font-family: $font-title;
                font-weight: 600;
            }
            label {
                text-transform: capitalize;
                color: #f4f4f4;
            }
            select {
                border-radius: 5px;
                font-size: 1em;
                padding: .2em 1em;
                display: block;
                margin: .5em 0;

                optgroup {
                    font-size: 1em;
                }
            }
        }
        #thato-contact {
            p {
                display: block;
                padding: .5rem;
                margin-bottom: 1rem;
                font-size: 1rem;
                color: $text-light;
                background-color: $primary-color-dark;
                position: relative;
                transition: .3s ease;
                border-radius: .5rem;
                // border: 2px solid red;
                a {
                    color: inherit;
                    // border: 1px solid yellow;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                i {
                    color: #ddd;
                    font-size: 1.25rem;
                    // border: 1px solid red;
                    width: 1.5rem;
                }
                &:hover {
                    color: $secondary-color;
                    i {
                        transition: .5s;
                        color: $secondary-color;
                    }
                }
            }
        }
        
        p {
            
            @media (max-width: 330px){
                font-size: .8em;
                
            }
            i {
                font-size: 2em;
                margin-right: .5em;
                transition: .3s ease;
            }
        }
        .input-div{
            padding: .5em 0;
        
        input, 
        textarea {
            display: block;
            width: 100%;
            margin: 1em auto;
            padding: 1em;
            border: none;
            border-radius:.5rem;
            background-color: $valid;
            transition: .5s;
            
            &:invalid {
                background-color: #ddd;
            }
            
            &::placeholder {
                text-transform: capitalize;
                opacity: 0;
                letter-spacing: .1rem;
                transition: .25s;
            }

            &:focus {
                // outline: 2px dashed #fff;
                &::placeholder {
                    opacity: 1;
                    letter-spacing: normal;
                }
            }
        } 
        label {
            color: #ddd;
            text-transform: capitalize;
            position: relative;
            display: block;
            transition: .2s ease;
            text-transform: capitalize;
        }
        
        // &:hover {
        //     label {
        //         color: $secondary-color;
        //         transform: translateY(50%) translateX(.5em);
        //     }
        // }
    }
    .btn {
        display: block;
        color: $text-light;
        font-weight: 500;
        font-size: 1rem;
        border: none;
        outline: none;
        z-index: 2;
        width: 100%;
        transition: .25s;
        border-radius: .5rem;
        margin-top: .5em;
        margin: 1rem auto;
        padding: 1rem .5rem;
        position: relative;
        text-transform: capitalize;
        isolation: isolate;
        &::before, &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            transition: .25s;
            height: 100%;
            border-radius: .5rem;
            z-index: -1;
        }
        &::before {
            background-image: linear-gradient(0deg, #6b081c, #dc143c);
            box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .15),
                        inset -3px -3px 3px rgba(0, 0, 0, 0.150),
                                .125rem .5rem .5rem #0003;
        }
        &::after {
            opacity: 0;
            background-image: linear-gradient(0deg, #dc143c, #6b081c);
            box-shadow: inset 3px 3px 3px rgba(0, 0, 0, .2),
                        inset -3px -3px 3px rgba(255, 255, 255, .2),
                                0rem .25rem .25rem #0004;
        }

        // HOVER AND ACTIVE MEDIA QUERY
        // MOBILE ACTIVE
        @media (max-width: 820px){
            &:active {
                transition: .2s;
                transform: scale(.98);
                &::before {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }
        }
        // DESKTOP HOVER
        @media (min-width: 820px){
            &:hover {
                transition: .2s;
                transform: scale(.98);
                letter-spacing: normal;
                &::before {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }
        }
        
    }

    }
    
}
//END OF CONTACT