@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Sanchez&display=swap');

$font-title: 'Sanchez', serif;
$font-content: 'Montserrat', sans-serif;

$primary-color: #000080;
$primary-color-dark: #000066;
$primary-comp: #808000;
$primary-color-trans: #0808df8e;
$primary-background-lt-grey: #f4f4f4;
$bg-light: #ffff;
$secondary-color: #76b9f0;
$secondary-color: #0aceb1;
$secondary-color-trans: #0aceb18f;
$primary-gradient: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
$primary-gradient-background: linear-gradient(-50deg, $primary-color-dark 30%, $primary-color, $secondary-color 100% );
$primary-gradient-reverse: linear-gradient(to right, $secondary-color 0%, $primary-color 100%);
$secondary-gradient: linear-gradient(0deg, $secondary-color 0%, $primary-color 100%);
$secondary-gradient-reverse: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);

$cta-btn: linear-gradient(0deg, #03493f, #0aceb1);
$cta-btn-hover: linear-gradient(0deg, #0aceb1, hsl(171, 91%, 15%));
$btn-primary: linear-gradient(0deg, hsl(240, 100%, 20%), hsl(240, 100%, 35%));
$btn-primary-hover: linear-gradient(0deg , hsl(240, 100%, 35%), hsl(240, 100%, 20%));
$btn-secondary: linear-gradient(0deg, hsl(171, 91%, 32%), #0aceb1);
$btn-secondary-hover: linear-gradient(0deg , #0aceb1, hsl(171, 91%, 32%));
$btn-gradient: linear-gradient(0deg, #000080, #0aceb1);
$btn-gradient-hover: linear-gradient(0deg , #0aceb1, #000080);

$primary-gradient-trans: linear-gradient(to right, $primary-color-trans 0%, $secondary-color-trans 100%);
$secondary-gradient-trans: linear-gradient(to right, $secondary-color-trans 0%, $primary-color-trans 100%);
$progress-gradient: linear-gradient(90deg, $secondary-color, $primary-color, $secondary-color);

$text-color: #333;
$text-color-white: #eee;
$text-light: #f4f4f4;
$text-dark: #000;
$primary-red: #dc143c; 
$primary-red-gradient: linear-gradient(90deg, maroon, rgb(167, 12, 12), maroon ) ; 
$container-width: 1200px;
$screen-xsm-max: 360px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1400px;

// $font-text: 'Noto Sans Display', sans-serif;
// $font-rose: 'Red Rose', cursive;
// $font-rale: 'Raleway', sans-serif;
// $font-fred: 'Fredericka the Great', cursive;

$head-font-size-lg: 3em;
$head-font-size-md: 3em;
$head-font-size-sm: 1.5em;

// form
$valid: skyblue;

// BOX SHADOWS
$box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.250),
            inset -2px -2px 3px rgba(0, 0, 0, 0.250);

$box-shadow-hover: inset 2px 2px 3px rgba(0, 0, 0, 0.250),
                inset -2px -2px 3px rgba(255, 255, 255, 0.250) ;