@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    // overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $text-color;
}

img {
    width: 100%;
    height: auto;
}