$primary-color: #000080;
$primary-gradient: linear-gradient(0deg, rgba(51, 51, 51, 0.968), rgb(0, 0, 128));
$secondary-gradient: linear-gradient(0deg, navy, rgb(4, 141, 196));
$secondary-color: #0aceb1;
$text-color: #333;
$container-width: 1200px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;