@import 'variables';
@import 'reset';
@import 'mxins';
@import 'utils';
@import 'progress';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
    // border: 1px solid red;
}


//HEADER
header {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: 4;
    background: $primary-background-lt-grey;
    @include flex(center); //MXINS
    height: 10vh;
    // padding-bottom: .5em;
    box-shadow: 0 8px 6px -6px #999;
    overflow: hidden;
    @include sm {
        // min-height: 15%;
        height: 10vh;
    }
        h1 {
            font-family: 'Fredericka the Great', cursive;
            font-size: 1.5em;
            font-weight: 500;
            text-shadow: 0 0 1px $primary-color;
            span {
                text-shadow: 0 0 1px $secondary-color;
            }
            @include md {
                font-size: 2em;
            }
        }


    .navbar {
        @include flex(space-between, stretch, column);
        height: 100%;
        min-width: 100vw;
        padding: 0 5vw;

        @include sm {
            flex-direction: row;
            align-items: center;
        }
        @include lg {
            @include flex(space-between);
            padding: 0 10vw;  

        }

        &-top {
            @include flex(space-between);
            flex: 1;

            a {
                display: block;

                figure {
                    overflow: hidden;
                    width: 7em;
                    height: 100%;
                    @include md {
                        width: 8.5em;
                    }
                    // @include lg {
                    //     width: 10vw;
                    // }
                    

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;

                    }
                }
            }
        }

        
        // desktop nav list
        .nav-list {
            display: none;

            @include lg {
                display: flex;
            }

            a {
                padding: 5px 15px;
                font-size: 1em;
                color: $primary-color;
                font-family: $font-rale;
                position: relative;
                transition: .2s;
                display: block;
                text-transform: capitalize;


                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%) translateY(1em);
                    width: 50%;
                    height: 2px;
                    background-color: $secondary-color;
                    transition: .3s;
                    opacity: 0;
                }

                &:hover {
                    transform: scale(1.05);
                    color: $secondary-color;
                    &::before {
                        opacity: 1;
                        transform: translate(-50%, 0);
                    }
                }
                &:active {
                    transition: .2s;
                    transform: scale(.98);
                }
                &:focus {
                    transition: .3s;
                    transition-delay: .5s;
                    background-color: $secondary-color;
                    color: #fff;
                    border-radius: 5px;
                    box-shadow: inset 2px 2px 4px #fffa,
                                inset -2px -2px 4px #000a;
                }
            }
        }
        // end of desktop nav list

        .navbar-top {
            display: flex;
            justify-content: space-between;
        }

        .navbar-button {
            padding:0;
            @include sm {
                margin: 0 auto;
            }

            .you-btn {
                background-color: $primary-background-lt-grey;
                font-family: 'Red Rose', cursive;
                transition: .2s ease;
                border: none;
                outline: none;
                padding: 0;
                display: grid;
                place-items: center;
                position: relative;

                i {
                    color: #dc143c;
                    font-size: 2.5em;

                }
                &:hover {
                    transform: scale(1.1);
                }
                
            }

        }
    }
}

.sidebar {
    position: fixed;
    left: -100%;
    top: 10vh;
    width: 100%;
    padding-top: 1.5em;
    height: calc(100vh - 10vh);
    background-color: $primary-color-dark;
    border-right: 2px solid #fffa;
    transition: .5s ease;
    z-index: 3;
    font-family: 'Red Rose', cursive;

    .links-container {
        display: grid;
        place-items: center;
        position: relative;
        top: 10%;
    }
    // active sidebar
    &.open {
        left: -20%;

        ul {
            li {
                transform: translateX(0);
                opacity: 1;
                &:nth-child(1) {
                    transition-delay: .2s;
                }
                &:nth-child(2) {
                    transition-delay: .25s;
                }
                &:nth-child(3) {
                    transition-delay: .3s;
                }
                &:nth-child(4) {
                    transition-delay: .35s;
                }
                &:nth-child(5) {
                    transition-delay: .4s;
                }
                &:nth-child(6) {
                    transition-delay: .45s;
                }
            }
        }
    }

    @include lg {
        display: none;
    }

    &-nav-list {
        margin: 1em;
        padding: 10px;
        height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        isolation: isolate;



        li {
            margin-left: 20vw;
            margin-bottom: 1em;
            text-align: left;
            width: 60%;
            // border: 2px solid yellow;
            outline: none;
            transform: translateX(-50%);
            opacity: 0;
            transition: 1s;
            z-index: 1;
            
                &:active {
                    transform: scale(.98);
                }
                // end of list item box shadow
            @include md {
                width: 40%;
            }
            

            a {
                color: #fff;
                background-color: $primary-color;
                padding: 5px;
                font-size: 1.1em;
                cursor: pointer;
            pointer-events: visible;
                display: block;
                border: none;
                outline: none;
                transition: .3s;
                text-transform: capitalize;
                z-index: 5;
                position: relative;
                    // list item box shadow
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                transition: .3s;
            }

            &::before {
                box-shadow: inset 2px 2px 4px #ddda,
                            inset -2px -2px 4px #000a;
            }

                
                &:active {
                    transform: scale(.95);
                    i {
                        color:$secondary-color;
                    }
                }

                i {
                    color: #fffa;
                    margin-right: .5em;
                    padding: .5em;
                    border-radius: 10px;
                    position: relative;
                }
            }
        }
    }
}

//END OF HEADER

//BANNER 

main {
    @include lg {
        margin-top: 100px;
    }
    @include md {
        margin-top: 0px;
    }
    background-color: $primary-background-lt-grey;
    margin-top: 10vh;
    font-family: 'Raleway', sans-serif;
}

.banner {
    min-height: 100vh;
    @include sm {
        background: url('../img/joanna-kosinska-7ACuHoezUYk-unsplash-min.jpg');
        background-attachment: fixed;
    }
    background: $primary-gradient-background;
    position: relative;
    z-index: 1;

    // banner overlay
    &::after {
        @include sm {
        background: rgba(1, 1, 66, 0.250);
        background-attachment: fixed;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(1, 1, 66, 0.800);
        z-index: -1;
        }
        
    }
    // end of banner overlay

    @include md {
        @include flex(stretch, center);
    }

    .container {
        position: relative;
        height: 100vh;

        @include md {
            @include flex(space-evenly, center, column, nowrap);
            @include grid(1, 10px);
        }


        .banner-content {
            font-size: 1.35em;
            color: #fff;
            z-index: 2;
            border: none;
            position: absolute;
            top: 50%;
            // width: 40%;
            border-radius: 5px;
            margin: 0 auto;
            padding: .5em .7em;
            @include sm {
                position: absolute;
                right: 10vw;
                top: 20vh;
                margin: 0;
                width: auto;
                backdrop-filter: blur(.5em);
                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    box-shadow: inset 3px 3px 4px skyblue,
                                inset -3px -3px 4px $secondary-color;
                }
            }
            @media (max-width: 767px){
                // border: 1px solid #f4f4f4;
                background: $primary-color-dark;
                left: 0;
                top: 40%;
                transform: translateY(-50%);
                margin: 0 5vw;
                text-align: center;
                border-radius: 5px;
                box-shadow: inset 2px 2px 5px #fff,
                            inset -2px -2px 5px rgba(255, 255, 255, 0.404);

            }
            
            
            h1 {
                // padding-top: 100px;
                font-size: 1.5em;
                font-weight: 600;
                font-family: $font-rose;
                margin-bottom: .5em;
                @include xsm {
                    font-size: 1.4em;
                }
                @include lg {
                    font-size: 2.5em;
                }
            }
            p {
                text-transform: capitalize;
                font-size: .8em;
                margin: .5em 0;
                font-weight: 200;
                padding: 0;
                color: $secondary-color;
                line-height: 1.2;

                @include md {
                    font-size: 1em;
                }
            }


            @include md {
                @include flex(center, center, column)
            }

            h2,
            .btn {
                margin: 25px 0;
            }

            .btn {
            font-family: $font-rose;
                text-transform: uppercase;
                color: $text-color-white;
                font-size: 0.9em;
                font-weight: 500;
                border: none;
                outline: none;
                background: none;
                border-radius: 5px;
                letter-spacing: .1em;
                margin: 1em 0;
                padding: .5em 1.5em;
                transition: all .3s ease;
                position: relative;
                // button shadow
                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: $primary-gradient-background;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    z-index: -1;
                    transition: .2s ease;
                    box-shadow: inset 2px 2px 5px #fffa,
                                inset -2px -2px 5px #000a;
                }
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $secondary-color;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    z-index: -1;
                    opacity: 0;
                    transition: .2s ease;
                    box-shadow: inset 2px 2px 5px #000a,
                                inset -2px -2px 5px #fffa;
                }
                // end of button shadow
                // button hover state
                &:hover {
                    transition: all .3s ease;
                    letter-spacing: 0;
                    transform: scale(.99);
                    &::before {opacity: 0}
                    &::after {opacity: 1}
                }
                // end of button hover state
                // button active state
                &:active {
                    transition: .2s;
                    transform: scale(.95);
                }
                // end of button active state

            }
        }

        .banner-image {
            display: none;
            border-radius: 10px;
            backdrop-filter: blur(0.08em);
            z-index: 2;
            width: 60%;
            padding: .5em;
            background: #fffa;
            @include md {
                position: absolute;
                width: 40%;
                right: 1em;
                top: 50%;
                transform: translateY(-50%);
            }
            @include lg {
                display: none;
                // width: 30%;
                // right: 4em;
            }
        }
    }

}

// END OF BANNER

// section padding

.section-padding {
    height: 100vh;
    cursor: pointer;
    @media (max-width: 768px){
    }
    &.pad-logo {
        // background-color: $primary-color-dark;
        height: auto;
        padding: 5vh 5vw;
        [data-scroll="in"] {
            transform: translateX(0);
            transition: 1.5s;
        }
        figure {
            // border: 1px solid red;
            width: 100%;
            margin: 0 auto;
            transform: translateX(-100%);
            img {
                border-radius: 5px;
                width: 100%;
                height: 100%;
            }
        }

        @include sm {

            figure {
                width: 35%;
            }
        }
    }
    &.pad-1 {
        // background: pink;
        padding: 1em 5vw;
        height: auto;

        figure {
            width: 100%;
            margin: 0 auto;
            transform-style: preserve-3d;

            img {
                width: 100%;
                height: 100%;
            }
        }

        @include sm {

            // background: skyblue;
            figure {
                // border: 1px solid red;
                width: 25%;
            }
        }
    }
    &.pad-compass {
        // background: pink;
        padding: 1em 5vw;
        height: auto;
            [data-scroll="in"] {
                transform: rotateY(0) translateX(0);
                transition: 2s ease-in;
            }
        
        figure {
            width: 100%;
            margin: 0 auto;
            opacity: 1;
            transform: rotateY(90deg) translateX(50%);
            transform-style: preserve-3d;

            img {
                width: 100%;
                height: 100%;
            }
        }

        @include sm {

            // background: skyblue;
            figure {
                // border: 1px solid red;
                width: 25%;
            }
        }
        
    }
}

// SERVICES
.services {
    position: relative;
    background-color: $primary-background-lt-grey;
    position: relative;
    padding: 5vh 0;
    z-index: 2;

    .section-title {
        
        @include lg {
            // margin: 5vh 10vw;
        }
        // margin: 5vh 5vw 10vh;
        padding-bottom: 3vh;
        font-family: $font-rose;
        background-image: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: .2em;
        font-weight: 500;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #ffff;
        }
        
    }
    .container {

        
        .service-grid {
            margin-top: 10vh;
            @include sm {
                @include grid(2, 15px)
            }
            @include md {
                @include grid(3, 20px)
            }
        }
        // service items
        .service {
            padding: 1em;
            margin: 15vh auto;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            position: relative;
            @include sm {
                margin: 10vh auto;

            }

            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                border-radius: 5px;
                background-color: $primary-color;
                box-shadow: inset 3px 3px 5px #fffa,
                            inset -3px -3px 5px #000a,
                            5px 10px 5px rgba(0, 0, 0, 0.455);
            }


            // icon
            &-icon {
                width: 125px;
                height: 125px;
                margin: -25% 0 30px;
                padding: 5px;
                border-radius: 50%;
                box-shadow: -2px -2px 2px rgba(221, 221, 221, 0.226),
                    3px 3px 5px #333a,
                    inset 5px 5px 5px $secondary-color,
                    inset -5px -5px $primary-color;

                @include md {
                    width: 130px;
                    height: 130px;
                    margin: -90px 0 30px;
                }
            }
            // end of icon
            // service info
            .service-info {
                border-radius: 5px;
                margin: 0 0em 10vh;
                padding: .5em;
            // title
            h1 {
                @include md {
                    height: 10vh;
                    display: grid;
                    place-items: center;

                }
                color: $text-color-white;
                font-size: 1.1em;
                font-weight: 900;
                text-transform: capitalize;
                font-family: $font-rose;
                letter-spacing: .1em;
                border: 1px solid $secondary-color;
                margin-bottom: 1em;
                border-radius: 5px;
                padding: .2em;
                // text-decoration: underline rgba(255, 255, 255, 0.432);
            }

            // end of title
            p {
                margin: 1em auto;
                color: $text-color-white;
                // font-family: $font-rale;
                font-family: $font-text;
                color: #ddd;
                font-size: 1em;
                font-weight: 400;
            }
        }
            // end of service info

            button {
                font-size: 1em;
                border-radius: 5px;
                padding: .4em 1.5em;
                font-weight: 500;
                background-color: $secondary-color;
                color: $primary-color;
                position: absolute;
                border: none;
                outline: none;
                bottom: 1em;
                left: 50%;
                transform: translate(-50%);
                transition: .2s ease;
                font-family: $font-rose;
                cursor: pointer;
                letter-spacing: .1em;
                text-transform: capitalize;

                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    box-shadow: inset 2px 2px 3px #fffa,
                        inset -2px -2px 3px #000a;
                }


                &:hover {
                    letter-spacing: 0;
                    transition: .2s ease;
                    transform: translate(-50%) scale(.95);
                }
            }
            }
        // end of service items
    }
}
//END OF SERVICES
// VIDEOS
.about {
    padding: 2em 0;
    // background-image: $primary-gradient;
    background-image: $primary-background-lt-grey;
    background-size: 140%;

    .section-title {
        position: relative;
        z-index: 1;
        color: $primary-color;
        letter-spacing: .2em;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 2vh;
        margin-bottom: 10vh;
        &::before {
            background-color: #fff;
            z-index: -2;
        }
    }
    &-items {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        


        .about-item {
            margin: 2em auto;
            border: 1px solid $primary-color-dark;
            border-radius: 5px;
            padding: 1em; 
            background: #fff;
            text-align: center;

            @include sm {
                @include grid(2, 20px);

                &:nth-child(even) {
                    .about-item-image {
                        order: -1;
                    }
                }

            }

            &-content {
                @include lg {
                    // border: 3px solid rgba(0, 0, 128, 0.308);
                border-radius: 5px;
                }
                h2 {
                    margin: 10px 0 30px;
                    font-size: 1.5em;
                    font-family: $font-rose;
                    // font-family: $font-rale;
                    background: $primary-gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 500;
                    text-align: center;
                    @include sm {
                        font-size: 1.5em;
                    }
                }

                p {
                    margin: 10px 0;
                    font-weight: 600;
                    font-size: 1em;
                    font-family: $font-rale;
                    color: #000;
                    padding: 0 .5em;
                    text-transform: capitalize;
                    
                }  
                @include sm {
                    @include flex(center, flex-start, column);
                }
                @include lg {
                    @include flex(center, center, column);
                }
            }

            &-image {
                max-width: 300px;
                margin: 0 auto;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                border-radius: 5px;
                background: $secondary-color;
                img {
                    width: 100%;
                    height: 100%;
                    transition: .3s ease;
                }
                &:hover {
                    img {
                        transform:scale(1.1);
                    }
                }
            }
            // image zoom on item hover
            &:hover {
                .about-item-image {
                    img {
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
}
// END OF VIDEOS

//FEATURES
.features {
    margin: 0;
    padding: 5vh 0;
    background-color: #fff;
    h1 {
        font-family: $font-rose;
        font-weight: 500;
        background-image: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-grid {
        margin-top: 5vh;
        @include md {
            @include grid(1, 5em); 
            
            .features-list {
                @include grid(2, 2em);
            }
        }
        .feature-item {
            &[data-scroll="in"]{
                transition: 1.5s;
            }
            @include flex(flex-start, center, row, nowrap);
            @media (max-width: 767px){
                margin-bottom: 5vh;
            }
            margin-bottom: 20px;
            padding: 20px 0;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            h2 {
            font-family: $font-rose;
            color: $secondary-color;
            text-transform: capitalize;
            font-size: 1em;
            margin-bottom: .5em;
            letter-spacing: .03em;
            }
            p {
                font-family: $font-rale;
            }
            &-icon {
                padding: 20px;
                margin-right: 1em;
                border: none;
                outline: none;
                border-radius: 50%;
                text-align: center;
                color: $secondary-color;
                transition: .3s ease;
                box-shadow: 
                            inset 4px 4px 4px #ddd,
                            inset -4px -4px 4px #000a;

                i {
                    width: 100%;
                    font-size: 1.5em;
                }

            }
            &:hover {
                .feature-item-icon {
                    transition: .3s ease;
                    transform: scale(.95);
                    box-shadow: 
                                inset 5px 5px 5px #000a,
                                inset -5px -5px 5px #ddda;
                }
                .features-item-description {
                    h2 {
                        transition: .3s ease;
                        letter-spacing: .07em;
                    }
                }
            }
        }
        
        .feature-image {
            @include md {
                max-width: 350px;
            }
            max-width: 200px;
            margin: 1em auto;
            padding: 1em 0;
            border-radius: 10px;
            cursor: pointer;
            @include lg {
                margin: 0 auto;
                padding: 0;
                width: 100%;
            }
            overflow: hidden;
            position: relative;
            transition: 1s ease;
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: .5s;
                box-shadow: inset 3px 3px 5px #ddda,
                            inset -3px -3px 5px #000a;
            }
            img {
                border-radius: 10px;
                transition: .5s ease;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
                &::before {
                    opacity: 0;
                }
            }
            &:active {
                img {
                    transform: scale(2.5);
                }
            }
        }
    }

}

//END OF FEATURES

//TABLE PRICE
.table-price {
    padding: 5vh 0;
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;

    .section-title {
        font-family: $font-rose;
        font-weight: 500;
        background: #fff;
        background-image: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10vh;
    }


    .price-grid {
        @include sm {
            @include grid(2, 20px)
        }

        @include md {
            @include grid(2, 30px)
        }
        @include lg {
            @include grid(3, 30px)
        }
        .price-card {
            &[data-scroll="in"] {
                transition: 1.5s;
            }
            padding: 1em 1.5em;
            margin: 10vh 0;
            border-radius: 10px;
            outline: none;
            text-align: center;
            border: none;
            transition: .2s ease;
            position: relative;
            isolation: isolate;
            @include sm {
                margin: 1em 0 5vh;
            }
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                transition: 1s ease;
                background-image: linear-gradient(-40deg, #fff, #f4f4f4);
                z-index: -1;
                box-shadow: inset 3px 3px 4px #d6d5d5,
                            inset -3px -3px 4px #000a,
                                    5px 10px 5px rgba(0, 0, 0, 0.367);
            }

            .btn {
                margin: .5em auto;
                cursor: pointer;
                font-family: $font-rose;
                border: none;
                outline: none;
                border-radius: 5px;
                transition: .3s ease;
                position: relative;
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: .3s;
                    overflow: hidden;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                }
                &::before{
                    box-shadow: inset 2px 2px 4px#fff,
                                inset -2px -2px 4px #000a;
                }
                &::after{
                    opacity: 0;
                    box-shadow: inset 2px 2px 4px #000a,
                                inset -2px -2px 4px #fff;
                }
                
                &:hover {
                    transform: scale(.97);
                    &::before {opacity: 0}
                    &::after {opacity: 1}
                }
                &:active {
                    transform: scale(.9);
                }

            }
            h1 {
                box-shadow: inset -5px -5px 5px #000a,
                        inset 5px 5px 5px #ddda;     
            }
                    
            &:nth-child(1) {
                h1 {
                    background-color: $secondary-color;
                }

                .btn {
                    background-color: $secondary-color;
                }
                .price p { 
                color: $secondary-color;
                }
            }
            &:nth-child(2) {
                h1 {
                    background-color: $primary-color;
                }

                .btn {
                    background-color: $primary-color;
                }
                .price p { 
                    color: $primary-color;
                    }
            }
            &:nth-child(3) {
                h1 {
                    background-image: $primary-gradient;
                }

                .btn {
                    background-image: $primary-gradient;

                }
                .price {
                    background: $primary-gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            h1 {
                padding: .7em 1em;
                font-size: 1.2em;
                border-radius: 5px;
                margin: .5em auto;
                background-color: $secondary-color;
                color: #fff;
                letter-spacing: .1em;
                text-transform: uppercase;
                font-family: $font-rose;
                font-weight: 500;
                
            }

            .price {
                padding: 10px 10px 20px;
                margin: 10px 50px;
                
                p {
                    font-size: 1.8em;
                }

                small {
                    font-size: 1.3em;
                }
            }
            
            .card-list {
                padding-left: .5em;
                font-family: $font-rose;
                text-align: left;
                li {
                    font-size: 1em;
                    color: #333;
                    line-height: 1.5;
                    list-style: decimal;
                    text-transform: capitalize;
                }
            
            }
        }
    }
}
//END OF TABLE PRICE

//CONTACT
.contact {
    padding: 10vh 0;
    background-color: $primary-color;
    .section-title {
        color: $text-color-white;
    }
    h1 {
        &::after {
            width: 35%;
        }
    }

    @include md {
        @include grid(2)
    }

    .google-maps {
        margin: 10px;
        height: auto;

        #map {
            width: 100%;
            height: 80%;
            border-radius: 10px;
        }
    }

    .contact-form {
        width: 500px;
        max-width: 100%;
        padding: 25px;
        margin: auto;
        cursor: pointer;

        .form-info-link {
            padding: .5em;
            text-align: center;
            line-height: 1.5;
            font-style: italic;
            color: $text-light;
            a {
                color: $secondary-color;
                text-decoration: underline;
                transition: .2s;

                &:hover {
                color: #ddd;
                text-decoration: none;
                }
            }
        }
        

        fieldset {
            color: $secondary-color;
            background-color: $primary-color-dark;
            border: 3px solid $secondary-color;
            padding: 5vh 1em;
            margin: 2em auto;
            border-radius: 5px;

            legend {
                padding: 0 .2em; 
                text-transform: capitalize;
            }
            label {
                text-transform: capitalize;
            }
            select {
                border-radius: 5px;
                font-size: 1em;
                padding: .2em 1em;
                display: block;
                margin: .5em 0;
                font-family: $font-rose;

                optgroup {
                    font-size: 1em;
                }
            }
        }
        #thato-contact {
            p, a {
                display: block;
                padding: 1em .5em;
                margin-bottom: 5vh;
                font-size: 1em;
                color: $text-light;
                background-color: $primary-color-dark;
                position: relative;
                transition: .3s ease;
                border-radius: 5px;
                box-shadow: inset 2px 2px 3px #ddda,
                            inset -2px -2px 4px #000a;

                i {
                    color: #ddd;
                    font-size: 1em;
                    margin-right: .5em;
                }
                &:hover {
                    color: $secondary-color;
                    i {
                        transition: .5s;
                        color: $secondary-color;
                    }
                }
            }
        }
        
        p {
            
            @media (max-width: 330px){
                font-size: .8em;
                
            }
            i {
                font-size: 2em;
                margin-right: .5em;
                transition: .3s ease;
            }
        }
        .input-div{
            padding: .5em;
        
        input, 
        textarea {
            font-family: $font-rose;
            display: block;
            width: 100%;
            margin: 1em auto;
            padding: .8em 1em;
            border: none;
            outline: none;
            border-radius: 5px;
            background-color: #f4f4f4;
            
            &:invalid {
                background-color: rgb(224, 206, 203);
            }
            &:valid {
                transition: .3s ease;
                background-color: $valid;
            }
            &:focus {
                outline: 2px dashed #fff;
            }
        } 

        label {
            color: #ddd;
            text-transform: capitalize;
            position: relative;
            display: block;
            transition: .2s ease;
            text-transform: capitalize;
        }
        
        &:hover {
            label {
                transform: translateY(50%) translateX(.5em);
            }
        }
    }
    .btn {
        font-family: $font-rose;
        color: $text-light;
        letter-spacing: .2em;
        font-weight: 600;
        border: none;
        outline: none;
        z-index: 2;
        width: 100%;
        transition: .3s;
        border-radius: 5px;
        margin-top: 1em;
        padding: 1em;
        position: relative;
        text-transform: uppercase;
        isolation: isolate;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            transition: .3s;
            height: 100%;
            border-radius: 5px;
            z-index: -1;
            background-image: linear-gradient(0deg, #6b081c, #dc143c);
            box-shadow: inset 3px 3px 3px #fffa,
                        inset -3px -3px 3px #000a;
        }
        &:hover {
            transition: .3s;
            letter-spacing: .1em;
            transform: scale(.98);
        }
        &:active {
            transition: .3s;
            letter-spacing: 0;
            transform: scale(.9);
        }
    }

    }
    
}
//END OF CONTACT

//FOOTER
.footer {
    &-top {
        padding: 5vh 5vw;

        @include sm {
            @include grid(2, 1fr);
            gap: 5vw;
            padding: 5vh 10vw;

            .footer-item {
                margin: 0;
            }
        }

        @include md {
            @include grid(2, 1fr);
        }
        @include lg {
            @include grid(3, 1fr);
        }

        .footer-item {
            // display: none;
            margin: 2em 0;
            padding:  2em .5em;
            border: 1px solid $primary-color;
            border-radius: 5px;
            h2 {
                font-size: 1.3em;
                margin-bottom: 20px;
                color: $primary-color;
                text-align: center;
                text-decoration: .2em underline;
                text-decoration-color: $secondary-color;
                text-underline-offset: .3em;
            }

            a {
                font-size: 1.15em;
                font-weight: 600;
                font-family: $font-rale;
            i{
                font-size: 1.5em;
                color: $primary-red;
                padding-right: .5em;
                
            }
            &:hover {
                color: $primary-red;
            }
        }
            p {
                text-shadow: 0 0 1px $secondary-color;
            }

        }

        .youtube {
            a {
                display: block;
                width: 100%;
            }
        }

        .social {
            // display: none;
            .social-icons {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 2em;
                li {
                    // padding: 20px 0;
                    // border-bottom: 1px dashed #333;
                    cursor: pointer;
                    transition: .2s ease;

                    a{
                        border: none;
                        outline: 2px solid $primary-color;
                        border-radius: 5px;
                        display: block;
                    i {
                        font-size: 2.5em;
                        transition: .2s ease;
                        color: $primary-color;
                        border-radius: 30px;
                        width: 100%;
                        padding: .1em; 
                    }
                }
                    &:hover {
                        a{
                            outline: 2px solid $primary-color;
                        }
                        transform: scale(.98);
                        transition: .2s ease;

                        i {
                            transition: .2s ease;
                            color: $secondary-color;
                        }
                    }
                }
            }
                @include lg {
                    li {
                        color:#000a;

                        i {
                            color: #000a;
                        }
                    }
                    &:hover {
                        li {
                            color: $primary-color;

                            i {
                                color: $primary-color;
                            }
                        }
                    }
                }
        }

        .blog {
            display: none;
            .post {
                display: flex;
                margin-bottom: 10px;

                img {
                    max-width: 100px;
                    margin-right: 15px;
                    border: 1px solid $secondary-color;
                    border-radius: 5px;
                }

                &-date {
                    margin-bottom: 10px;
                    color: #000;
                    text-shadow: none;
                    font-weight: 600;
                }

                &-head {
                    color: #333;
                    text-shadow: none;
                }
            }
        }
    }

    &-bottom {
        height: 100vh;
        font-family: $font-rose;
        font-size: 1em;
        padding: 0;
        background-color: #fff000;
        line-height: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include sm {
            font-size: 1em;
            flex-direction: row;
            justify-content: space-around;
        }
        background-color: $primary-color;
        color: #fff;
        text-align: center;

        figure {
            flex-basis: 50%;
            // display: none;
            overflow: hidden;
            width: 100%;
            height: 50%;
            border-radius: 5px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .copyright-div {
            padding-bottom: 15vh;
            
            p {
                line-height: 1.7;
                font-size: 1.5em;
                color: $text-light;
            }
            a {
                color: $secondary-color;
                font-size: 1.5em;

                &:hover {
                    transition: .3s ease-in-out;
                    opacity: .7;
                }
            }

            @media (max-width: 768px) {
                p {
                    font-size: 1.3em;
                }

                a {
                    font-size: 1.3em;
                }
            }
        }
    }
}
//  END OF FOOTER

//  Thank you page
    #thanks {
        p {
            font-size: .8em;
        }
        a {
            margin-bottom: 1em;
            width: 60%;
        }
    }
//  end of Thank you page