@import 'variables';
@import 'reset';
@import 'mxins';
@import 'utils';
@import 'progress';


//HEADER
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background: $primary-background-lt-grey;
    @include flex(center); //MXINS
    height: 10vh;
    padding-bottom: .5em;
    box-shadow: 0 8px 6px -6px #999;
    @include sm {
        // min-height: 15%;
        height: 10vh;
    }
        h1 {
            font-family: 'Fredericka the Great', cursive;
            font-size: 1.5em;
            font-weight: 500;
            text-shadow: 0 0 1px $primary-color;
            span {
                text-shadow: 0 0 1px $secondary-color;
            }
            @include md {
                font-size: 2em;
            }
        }


    .navbar {
        @include flex(space-between, stretch, column);
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        @include sm {
            flex-direction: row;
            align-items: center;
        }
        @include lg {
            @include flex(row);
        }

        &-top {
            @include flex(space-between);
            flex: 1;
            
            
            img {
                max-width: 235px;
                border-radius: 5px;
                
            }
        }

        .menu-toggle {
            @include flex(center);
            position: relative;
            height: 2.5em;
            width: 2.5em;
            transform: scale(.85);
            padding: .3em;
            background-image: $primary-gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 5px;
            transition: .3s ease;

            &::before,
            &::after {
                position: absolute;
                content: '';
                height: 100%;
                width: 100%;
                border-radius: 50%;
                border: none;
                outline: none;
                box-shadow: inset 0 0 5px $secondary-color;
            }
            &::before {
                border: 2px solid rgba(5, 5, 128, 0.651);
                opacity: 0;
                animation: toggle 2s ease infinite;     
            }
            &::after {
                box-shadow: inset 2px 2px 3px #ddd,
                            inset -2px -2px 3px #000a;      
            }
            &:hover {
                &::before {
                    animation: none;
                }
            }
            &:active {
                transform: scale(.8);
            }
            .bar {
                height: 2px;
                width: 25px;
                position: relative;
                background-image: $primary-gradient;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-image: $primary-gradient;
                    left: 0;
                    transition: .3s ease;
                    transition-property: top, bottom;
                }
                &::before {
                    top: 7px;
                }
                &::after {
                    bottom: 7px;
                }
            }
            &:active {
                .bar {
                    &::before {
                        top: 0;
                    }
                    &::after {
                        bottom: 0;
                    }
                }
            }
            @keyframes toggle {
                50% {
                    opacity: .6;
                }
                100% {
                    opacity: 0;
                    transform: scale(1.3);
                }
            }
            
            @include lg {
                display: none;
            }
        }
        // desktop nav list
        .nav-list {
            display: none;

            @include lg {
                display: flex;
            }

            a {
                padding: 5px 15px;
                font-size: 1.2em;
                position: relative;
                transition: .2s;
                display: block;
                text-transform: capitalize;


                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%) translateY(1em);
                    width: 50%;
                    height: 2px;
                    background-color: $secondary-color;
                    transition: .3s;
                    opacity: 0;
                }

                &:hover {
                    transform: scale(1.1);
                    color: $secondary-color;
                    &::before {
                        opacity: 1;
                        transform: translate(-50%, 0);
                    }
                }
                &:active {
                    transition: .2s;
                    transform: scale(.98);
                }
                &:focus {
                    transition: .3s;
                    transition-delay: .5s;
                    background-color: $secondary-color;
                    color: #fff;
                    border-radius: 5px;
                    box-shadow: inset 2px 2px 4px #fffa,
                                inset -2px -2px 4px #000a;
                }
            }
        }
        // end of desktop nav list

        .navbar-top {
            display: flex;
            justify-content: space-between;
        }

        .navbar-button {
            margin-top: .2em auto;
            padding:0;
            height: 2em;
            width: 2.5em;
            @include sm {
                margin: 0 auto;
            }

            .you-btn {
                height: 100%;
                width: 100%;
                background-color: $primary-background-lt-grey;
                color: #ff0000;
                font-family: 'Red Rose', cursive;
                transition: .2s ease;
                border: none;
                outline: none;
                padding: 0;
                display: grid;
                place-items: center;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: .3s;
                    border-radius: 5px;
                    box-shadow: inset 3px 3px 5px #ddd,
                                inset -3px -3px 5px #000a;
                }
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: .3s;
                    border-radius: 5px;
                    opacity: 0;
                    box-shadow: inset 3px 3px 5px #000a,
                                inset -3px -3px 5px #ddda;
                }
                &:hover {
                    transform: scale(.95);
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
                &:active {
                    transition: .3s;
                    transform: scale(.9);
                }
            }

        }
    }
}

.sidebar {
    position: fixed;
    left: -100%;
    top: 10vh;
    width: 100%;
    padding-top: 1.5em;
    height: calc(100vh - 10vh);
    background-color: $primary-color-dark;
    border-right: 2px solid #fffa;
    transition: .5s ease;
    z-index: 3;
    font-family: 'Red Rose', cursive;

    .links-container {
        display: grid;
        place-items: center;
        position: relative;
        top: 10%;
    }
    // active sidebar
    &.open {
        left: -20%;

        ul {
            li {
                transform: translateX(0);
                opacity: 1;
                &:nth-child(1) {
                    transition-delay: .2s;
                }
                &:nth-child(2) {
                    transition-delay: .25s;
                }
                &:nth-child(3) {
                    transition-delay: .3s;
                }
                &:nth-child(4) {
                    transition-delay: .35s;
                }
                &:nth-child(5) {
                    transition-delay: .4s;
                }
                &:nth-child(6) {
                    transition-delay: .45s;
                }
            }
        }
    }

    @include lg {
        display: none;
    }

    &-nav-list {
        margin: 1em;
        padding: 10px;
        height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        isolation: isolate;



        li {
            margin-left: 5em;
            margin-bottom: 1em;
            text-align: left;
            width: 60%;
            // border: 2px solid yellow;
            outline: none;
            transform: translateX(-50%);
            opacity: 0;
            transition: 1s;
            z-index: 1;
            
                &:active {
                    transform: scale(.98);
                }
                // end of list item box shadow
            @include md {
                width: 40%;
            }
            

            a {
                color: #fff;
                background-color: $primary-color;
                padding: 5px;
                font-size: 1.1em;
                cursor: pointer;
            pointer-events: visible;
                display: block;
                border: none;
                outline: none;
                transition: .3s;
                text-transform: capitalize;
                z-index: 5;
                position: relative;
                    // list item box shadow
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                transition: .3s;
            }

            &::before {
                box-shadow: inset 2px 2px 4px #ddda,
                            inset -2px -2px 4px #000a;
            }

                
                &:active {
                    transform: scale(.95);
                    i {
                        color:$secondary-color;
                    }
                }

                i {
                    color: #fffa;
                    margin-right: .5em;
                    padding: .5em;
                    border-radius: 10px;
                    position: relative;
                }
            }
        }
    }
}

//END OF HEADER

//BANNER 

main {
    @include lg {
        margin-top: 100px;
    }
    @include md {
        margin-top: 0px;
    }
    background-color: $primary-background-lt-grey;
    margin-top: 10%;
    font-family: 'Raleway', sans-serif;
}

.banner {
    min-height: 100vh;
    @include md {
        background: url('../img/joanna-kosinska-7ACuHoezUYk-unsplash-min.jpg');
        background-attachment: fixed;
    
    }
    background: url('../img/sergey-zolkin-m9qMoh-scfE-unsplash-min.jpg') no-repeat;
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    // banner overlay
    &::after {
        @include lg {
        background: rgba(1, 1, 66, 0.250);
        }
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(1, 1, 66, 0.650);
        z-index: -1;
    }
    // end of banner overlay

    @include md {
        @include flex(stretch, center);
    }

    .container {
        position: relative;
        height: 100vh;

        @include md {
            @include flex(space-evenly, center, column, nowrap);
            @include grid(1, 10px);
        }


        .banner-content {
            @include lg {
                position: absolute;
                right: 0;
                margin: 0;
                backdrop-filter: blur(.5em);
            }
            font-size: 1.35em;
            color: #fff;
            z-index: 2;
            border: none;
            border-radius: 5px;
            margin: 15vh auto;
            padding: .5em .7em;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                box-shadow: inset 3px 3px 4px skyblue,
                            inset -3px -3px 4px $secondary-color;
            }
            h1 {
                // padding-top: 100px;
                font-size: 1.5em;
                font-weight: 600;
                font-family: $font-rose;
                @include xsm {
                    font-size: 1.4em;
                }
                @include lg {
                    font-size: 2.5em;
                }
            }
            p {
                text-transform: capitalize;
                font-size: .9em;
                font-weight: 200;
                padding: 0;
                color: $secondary-color;

                @include md {
                    font-size: 1em;
                }
            }


            @include md {
                @include flex(center, center, column)
            }

            h2,
            p,
            .btn {
                margin: 25px 0;
            }

            .btn {
            font-family: $font-rose;
                text-transform: uppercase;
                color: $text-color-white;
                font-size: 0.9em;
                font-weight: 500;
                border: none;
                outline: none;
                background: none;
                border-radius: 5px;
                letter-spacing: .1em;
                margin: 5px 0;
                padding: .5em 1.5em;
                transition: all .3s ease;
                position: relative;
                // button shadow
                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: $primary-gradient;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    z-index: -1;
                    transition: .2s ease;
                    box-shadow: inset 2px 2px 5px #fffa,
                                inset -2px -2px 5px #000a;
                }
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: $secondary-gradient;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    z-index: -1;
                    opacity: 0;
                    transition: .2s ease;
                    box-shadow: inset 2px 2px 5px #000a,
                                inset -2px -2px 5px #fffa;
                }
                // end of button shadow
                // button hover state
                &:hover {
                    transition: all .3s ease;
                    letter-spacing: 0;
                    transform: scale(.99);
                    &::before {opacity: 0}
                    &::after {opacity: 1}
                }
                // end of button hover state
                // button active state
                &:active {
                    transition: .2s;
                    transform: scale(.95);
                }
                // end of button active state

            }
        }

        .banner-image {
            display: none;
            border-radius: 10px;
            backdrop-filter: blur(0.08em);
            z-index: 2;
            width: 60%;
            padding: .5em;
            background: #fffa;
            @include md {
                position: absolute;
                width: 40%;
                right: 1em;
                top: 50%;
                transform: translateY(-50%);
            }
            @include lg {
                display: none;
                // width: 30%;
                // right: 4em;
            }
        }
    }

}

// END OF BANNER

// section padding

.section-padding {
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-image: url(../img/about1-min.jpg);
    @media (max-width: 768px){
        background-size: 100%;
    }
    &.pad1 {
        background-size: cover;
        background-image: url(../img/sergey-zolkin-m9qMoh-scfE-unsplash-min.jpg);
    }
    &.pad3 {
        background-image: url(../img/tpsempe-min.jpg);
        background-size: 40%;
        background-position: center;
        @media (min-width: 768px){
            background-size: 30%;
        }
        @media (max-width: 500px) {
            background-size: 100%;
        }
    }
    &.pad4 {
        height: 60vh;
        background-color: #ddd;
        background-position: center;
        @media (min-width: 1025px){
            background-position: center bottom;
            height: 100vh;

        }
        background-image:url(../img/Optimized-techthat.png);

    }
}

// VIDEOS

.about {
    padding: 2em 0;
    background-image: $primary-gradient;
    background-size: 140%;

    .section-title {
        position: relative;
        z-index: 1;
        color: $primary-color;
        letter-spacing: .2em;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 2vh;
        margin-bottom: 5vh;
        &::before {
            background-color: #fff;
            z-index: -2;
        }
    }
    &-items {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        


        .about-item {
            margin: 1em auto;
            // border: 1px solid #000;
            box-shadow: inset 3px 3px 5px rgba(102, 101, 101, 0.667),
                        inset -3px -3px 5px #000a;
            border-radius: 10px;
            padding: 1em .5em; 
            background: #fff;

            @include sm {
                @include grid(2, 20px);

                &:nth-child(even) {
                    .about-item-image {
                        order: -1;
                    }
                }

            }

            &-content {
                @include lg {
                    border: 3px solid rgba(0, 0, 128, 0.308);
                border-radius: 5px;
                }
                h2 {
                    margin: 10px 0 30px;
                    font-size: 1.5em;
                    font-family: $font-rose;
                    // font-family: $font-rale;
                    background: $primary-gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 500;
                    @include sm {
                        font-size: 2em;
                    }
                }

                p {
                    margin: 10px 0;
                    font-weight: 600;
                    font-size: 1em;
                    font-family: $font-rale;
                    color: #000;
                    padding: 0 .5em;
                    text-transform: capitalize;
                    
                }

                
                @include sm {
                    @include flex(center, flex-start, column);
                }
                @include lg {
                    @include flex(center, center, column);
                }
            }

            &-image {
                max-width: 300px;
                margin: 0 auto;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                img {
                    border-radius: 5px;
                    transition: .3s ease;
                }
                &::after {
                    position: absolute;
                    content: 'soon to be link to channel';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #000a;
                    color: #ddda;
                    border-radius: 5px;
                    box-shadow: inset -3px -3px 5px #000a,
                                inset 3px 3px 5px #ddda;

                }
                &:hover {
                    img {
                        transform:scale(1.1);
                    }
                }
            }
        }
    }
}

// END OF VIDEOS

// SERVICES

.services {
    position: relative;
    // background: url('../img/Optimized-techthat.png') no-repeat;
    // background-size: cover;
    // background-position: center;
    // background-attachment: fixed;
    // background-image: $primary-gradient-reverse;
    background-color: $primary-background-lt-grey;
    position: relative;
    padding: 1em 0;
    z-index: 2;

    .section-title {
        
        @include lg {
            // margin: 5vh 10vw;
        }
        // margin: 5vh 5vw 10vh;
        padding-bottom: 3vh;
        font-family: $font-rose;
        background-image: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: .2em;
        font-weight: 500;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #ffff;
        }
        
    }
    .container {

        
        .service-grid {
            margin-top: 10vh;
            @include sm {
                @include grid(2, 15px)
            }
            @include md {
                @include grid(3, 20px)
            }
        }
        // service items
        .service {
            padding: 1em;
            margin: 80px auto;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            position: relative;
            cursor: pointer;

            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                border-radius: 5px;
                background-color: $primary-color;
                box-shadow: inset 3px 3px 5px #fffa,
                            inset -3px -3px 5px #000a,
                            5px 10px 5px rgba(0, 0, 0, 0.455);
            }


            // icon
            &-icon {
                width: 125px;
                height: 125px;
                margin: -25% 0 30px;
                padding: 5px;
                border-radius: 50%;
                box-shadow: -2px -2px 2px rgba(221, 221, 221, 0.226),
                    3px 3px 5px #333a,
                    inset 5px 5px 5px $secondary-color,
                    inset -5px -5px $primary-color;

                @include md {
                    width: 160px;
                    height: 160px;
                    margin: -110px 0 30px;
                }
            }
            // end of icon
            // service info
            .service-info {
                // border: 1px solid yellow;
                margin: 0 .5em 10vh;
            // title
            h1 {
                color: $text-color-white;
                font-size: 1.25em;
                font-weight: 700;
                text-transform: capitalize;
                font-family: $font-rose;
                letter-spacing: .1em;
                // text-decoration: underline rgba(255, 255, 255, 0.432);
            }

            // end of title
            p {
                margin: 1em auto;
                color: $text-color-white;
                // font-family: $font-rale;
                font-family: $font-text;
                text-transform: capitalize;
                color: #ddd;
                font-size: 1em;
                font-weight: 300;
            }
        }
            // end of service info

            button {
                font-size: 1em;
                border-radius: 5px;
                padding: .4em 1.5em;
                font-weight: 500;
                background-color: $secondary-color;
                color: $primary-color;
                position: absolute;
                border: none;
                outline: none;
                bottom: 1em;
                left: 50%;
                transform: translate(-50%);
                transition: .2s ease;
                font-family: $font-rose;
                cursor: pointer;
                letter-spacing: .1em;
                text-transform: capitalize;

                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    box-shadow: inset 3px 3px 3px #fff,
                        inset -3px -3px 3px #000;
                }


                &:hover {
                    letter-spacing: 0;
                    transition: .2s ease;
                    transform: translate(-50%) scale(.95);
                }
            }
            }
        // end of service items
    }
}

//END OF SERVICES

//FEATURES

.features {
    margin: 0;
    padding: 5vh 0;
    background-color: #fff;
    h1 {
        font-family: $font-rose;
        font-weight: 500;
        background-image: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-grid {
        margin-top: 5vh;
        @include md {
            @include grid(1, 5em); 
            
            .features-list {
                @include grid(2, 2em);
            }
        }
        .feature-item {
            @include flex(flex-start, center, row, nowrap);
            margin-bottom: 20px;
            padding: 20px 0;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            h2 {
            font-family: $font-rose;
            color: $secondary-color;
            text-transform: capitalize;
            font-size: 1em;
            margin-bottom: .5em;
            letter-spacing: .03em;
            }
            p {
                font-family: $font-rale;
            }
            &-icon {
                padding: 20px;
                margin-right: 1em;
                border: none;
                outline: none;
                border-radius: 50%;
                text-align: center;
                color: $secondary-color;
                transition: .3s ease;
                box-shadow: 
                            inset 4px 4px 4px #ddd,
                            inset -4px -4px 4px #000a;

                i {
                    width: 100%;
                    font-size: 1.5em;
                }

            }
            &:hover {
                .feature-item-icon {
                    transition: .3s ease;
                    transform: scale(.95);
                    box-shadow: 
                                inset 5px 5px 5px #000a,
                                inset -5px -5px 5px #ddda;
                }
                .features-item-description {
                    h2 {
                        transition: .3s ease;
                        letter-spacing: .07em;
                    }
                }
            }
        }
        
        .feature-image {
            @include md {
                max-width: 350px;
            }
            max-width: 200px;
            margin: 1em auto;
            padding: 1em 0;
            border-radius: 10px;
            cursor: pointer;
            @include lg {
                margin: 0 auto;
                padding: 0;
                width: 100%;
            }
            overflow: hidden;
            position: relative;
            transition: 1s ease;
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: .5s;
                box-shadow: inset 3px 3px 5px #ddda,
                            inset -3px -3px 5px #000a;
            }
            img {
                border-radius: 10px;
                transition: .5s ease;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
                &::before {
                    opacity: 0;
                }
            }
            &:active {
                img {
                    transform: scale(2.5);
                }
            }
        }
    }

}

//END OF FEATURES

//TABLE PRICE
.table-price {
    padding: 5vh 0;
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;

    .section-title {
        font-family: $font-rose;
        font-weight: 500;
        background-image: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10vh;
    }


    .price-grid {
        @include sm {
            @include grid(2, 20px)
        }

        @include md {
            @include grid(2, 30px)
        }
        @include lg {
            @include grid(3, 30px)
        }
        .price-card {
            padding: 1em 1.5em;
            margin-bottom: 30px;
            border-radius: 10px;
            outline: none;
            text-align: center;
            border: none;
            transition: .2s ease;
            position: relative;
            isolation: isolate;

            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                transition: 1s ease;
                background-image: linear-gradient(-40deg, #ddd, #f4f4f4);
                z-index: -1;
                box-shadow: inset 5px 5px 4px #d6d5d5,
                            inset -5px -5px 4px #000a,
                                    5px 10px 5px rgba(0, 0, 0, 0.367);
            }

            .btn {
                margin: .5em auto;
                cursor: pointer;
                font-family: $font-rose;
                border: none;
                outline: none;
                border-radius: 5px;
                transition: .3s ease;
                position: relative;
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: .3s;
                    overflow: hidden;

                    border-radius: 5px;
                }
                &::before{
                    box-shadow: inset 2px 2px 4px#fff,
                                inset -2px -2px 4px #000a;
                }
                &::after{
                    opacity: 0;
                    box-shadow: inset 2px 2px 4px #000a,
                                inset -2px -2px 4px #fff;
                }
                
                &:hover {
                    &::before {opacity: 0}
                    &::after {opacity: 1}
                }
                &:active {
                    transform: scale(.9);
                }

            }
            h1 {
                box-shadow: inset -5px -5px 5px #000a,
                        inset 5px 5px 5px #ddda;     
            }
                    
            &:nth-child(1) {
                h1 {
                    background-color: $secondary-color;
                }

                .btn {
                    background-color: $secondary-color;
                }
                .price p { 
                color: $secondary-color;
                }
            }
            &:nth-child(2) {
                h1 {
                    background-color: $primary-color;
                }

                .btn {
                    background-color: $primary-color;
                }
                .price p { 
                    color: $primary-color;
                    }
            }
            &:nth-child(3) {
                h1 {
                    background-image: $primary-gradient;
                }

                .btn {
                    background-image: $primary-gradient;

                }
                .price {
                    background: $primary-gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            h1 {
                padding: .7em 1em;
                font-size: 1.3em;
                border-radius: 5px;
                margin: .5em auto;
                background-color: $secondary-color;
                color: #fff;
                letter-spacing: .1em;
                text-transform: uppercase;
                font-family: $font-rose;
                font-weight: 500;
                
            }

            .price {
                padding: 10px 10px 20px;
                margin: 10px 50px;
                
                p {
                    font-size: 1.8em;
                }

                small {
                    font-size: 1.3em;
                }
            }
            
            .card-list {
                padding-left: .5em;
                font-family: $font-rose;
                text-align: left;
                li {
                    font-size: 1em;
                    color: #333;
                    line-height: 1.5;
                    list-style: decimal;
                    text-transform: capitalize;
                }
            
            }
        }
    }
}
//END OF TABLE PRICE

//CONTACT
.contact {
    padding: 10vh 0;
    background-color: $primary-color;
    .section-title {
        color: $text-color-white;
    }
    h1 {
        &::after {
            width: 35%;
        }
    }

    @include md {
        @include grid(2)
    }

    .google-maps {
        margin: 10px;
        height: auto;

        #map {
            width: 100%;
            height: 80%;
            border-radius: 10px;
        }
    }

    .contact-form {
        width: 500px;
        max-width: 100%;
        padding: 25px;
        margin: auto;
        cursor: pointer;

        .form-info-link {
            padding: .5em;
            text-align: center;
            line-height: 1.5;
            font-style: italic;
            color: $text-light;
            a {
                color: $secondary-color;
                text-decoration: underline;
                transition: .2s;

                &:hover {
                color: #ddd;
                text-decoration: none;
                }
            }
        }
        

        fieldset {
            color: $secondary-color;
            border: 3px solid $secondary-color;
            padding: .5em 1em;
            margin: 2em auto;
            border-radius: 5px;

            select {
                border-radius: 5px;
                font-size: 1em;
                padding: .2em 1em;
                display: block;
                margin: .5em 0;
                font-family: $font-rose;

                optgroup {
                    font-size: 1em;
                }
            }
        }
        #thato-contact {
            p {
                margin: 40px 0;
                font-size: 1em;
                padding: 1em 0 1em 1em;
                color: $text-light;
                background-color: $primary-color-dark;
                position: relative;
                transition: .3s ease;

                &::before,
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    transition: .3s;
                }

                &::before {
                    box-shadow: inset 2px 2px 3px #ddda,
                        inset -2px -2px 4px #000a;
                }
                &:hover {
                    color: $secondary-color;
                    i {
                        transition: .5s;
                        color: $secondary-color;
                    }
                }
            }
        }
        
        p {
            
            @media (max-width: 330px){
                font-size: .8em;
                
            }
            i {
                font-size: 2em;
                margin-right: .5em;
                transition: .3s ease;
            }
        }
        .input-div{
            padding: .5em;
        
        input, 
        textarea {
            font-family: $font-rose;
            display: block;
            width: 100%;
            margin: 1em auto;
            padding: .8em 1em;
            border: none;
            outline: none;
            border-radius: 5px;
            background-color: #f4f4f4;
            
            &:invalid {
                background-color: rgb(224, 206, 203);
            }
            &:valid {
                transition: .3s ease;
                background-color: $valid;
            }
            &:focus {
                outline: 2px dashed #fff;
            }
        } 

        label {
            color: #ddd;
            text-transform: capitalize;
            position: relative;
            display: block;
            transition: .2s ease;
        }
        
        &:hover {
            label {
                transform: translateY(50%) translateX(.5em);
            }
        }
    }
    .btn {
        font-family: $font-rose;
        color: $text-color-white;
        letter-spacing: .2em;
        font-weight: 500;
        border: none;
        outline: none;
        z-index: 2;
        width: 100%;
        transition: .3s;
        border-radius: 5px;
        margin-top: 1em;
        padding: 1em;
        position: relative;
        text-transform: uppercase;
        isolation: isolate;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            transition: .3s;
            height: 100%;
            border-radius: 5px;
            z-index: -1;
            background-color: #dc143c;
            box-shadow: inset 3px 3px 3px #fffa,
                        inset -3px -3px 3px #000a;
        }
        &:hover {
            transition: .3s;
            letter-spacing: .1em;
            transform: scale(.98);
        }
        &:active {
            transition: .3s;
            letter-spacing: 0;
            transform: scale(.9);
        }
    }

    }
    
}
//END OF CONTACT

//FOOTER
.footer {
    &-top {
        padding: 2em;

        @include sm {
            @include grid(2, 1fr);
            gap: 5vw;
            .footer-item {
                margin: 0;
            }
        }

        @include md {
            @include grid(2, 1fr);
        }
        @include lg {
            @include grid(3, 1fr);
        }

        .footer-item {
            // display: none;
            // margin: 5vh 5vw;
            h2 {
                margin-bottom: 20px;
                color: $primary-color;
                text-align: center;
                text-decoration: .2em underline;
                text-decoration-color: $secondary-color;
                text-underline-offset: .3em;
            }

            i{
                font-size: 1.5em;
                margin-bottom: 1em;
                color: $primary-red;
                
            }
            a:hover {
                color: $primary-red;
            }
            p {
                text-shadow: 0 0 1px $secondary-color;
            }

        }

        .brand {
            margin-bottom: 5vh;
            @include sm {
            }
            width: 100%;
            object-fit: cover;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            border: none;
            outline: none;
            border-radius: 5px;
            box-shadow: 10px 10px 5px #000a;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    box-shadow: inset 3px 3px 5px #fffa,
                                inset -3px -3px 5px #000a;
                }

            .footer-logo {
                width: 100%;
                border-radius: 5px;
                transition: .5s;
            }

            &:hover {
                .footer-logo {
                    transform: scale(1.15);
                    transform-origin: right;
                }
            }
        }

        .social {
            // display: none;
            .social-icons {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 2em;
                li {
                    // padding: 20px 0;
                    // border-bottom: 1px dashed #333;
                    cursor: pointer;
                    transition: .2s ease;


                    i {
                        font-size: 3em;
                        margin-right: 10px;
                        transition: .2s ease;
                        color: $primary-color;
                        padding: .2em;
                        border-radius: 30px;
                        box-shadow: 
                                    inset 3px 3px 5px #e9e8e8aa,
                                    inset -3px -3px 5px #8a8989aa;
                    }

                    &:hover {
                        color: #000a;
                        transform: scale(.98);
                        transition: .2s ease;

                        i {
                            transition: .2s ease;
                            color: #000a;
                            box-shadow: inset 3px 3px 5px #000a,
                                    inset -3px -3px 5px #929090aa;
                        }
                    }
                }
            }
                @include lg {
                    li {
                        color:#000a;

                        i {
                            color: #000a;
                        }
                    }
                    &:hover {
                        li {
                            color: $primary-color;

                            i {
                                color: $primary-color;
                            }
                        }
                    }
                }
        }

        .blog {
            display: none;
            .post {
                display: flex;
                margin-bottom: 10px;

                img {
                    max-width: 100px;
                    margin-right: 15px;
                    border: 1px solid $secondary-color;
                    border-radius: 5px;
                }

                &-date {
                    margin-bottom: 10px;
                    color: #000;
                    text-shadow: none;
                    font-weight: 600;
                }

                &-head {
                    color: #333;
                    text-shadow: none;
                }
            }
        }
    }

    &-bottom {
        height: auto;
        font-family: $font-rose;
        padding: 1em;
        font-size: 1em;
        padding: 5vh 0;
        line-height: 2;
        @include sm {
          font-size: 1em
        }
        background-image: $secondary-gradient;
        color: #fff;
        text-align: center;
        box-shadow: inset 5px 5px 5px #ddda,
            inset -5px -5px 5px #000a;

        p {
            line-height: 1.7;


            a {
                color: $text-color-white;

                &:hover {
                    transition: .3s ease-in-out;
                    color: #fff000;
                }
            }
        }
    }
}
//  END OF FOOTER

//  Thank you page
    #thanks {
        p {
            font-size: .8em;
        }
        a {
            margin-bottom: 1em;
            width: 60%;
        }
    }
//  end of Thank you page